{% extends 'core/base_login.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section>
    {% if 'register' in request.GET %}
        <p style="color: green">Usuario registrado correctamente</p>
    {% endif%}
    <form class="form-signin" action="" method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
      </head>
      <body >
      <!-- partial:index.partial.html -->
      <div class="box-form">
        <div class="left">
          <div class="overlay">
          <h1>Asistencia UDEM</h1>
          </div>
        </div>
          <div class="right" >
            <div class="inputs" >
              {% if form.non_field_errors %}
                <p style="color:red">Correo o contraseña incorrectos, prueba de nuevo.</p>
              {% endif %}
              <input type="text" name="username" class="form-control" placeholder="Correo" required/>
              <input type="password" name="password" class="form-control" id="password"/ placeholder="Contraseña" required>
            </div>

            <br><br>
          <div class="remember-me--forget-password">
              <!-- Angular -->
            <p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Recupérala</a></p>
          </div>
            <br>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
          <div>

        
      </div>
      <!-- partial -->
        
      </body>
      </html>

{% endblock %}