
/* Estilos para toda la página de comunidades */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg') no-repeat center center fixed;
    background-size: cover;
    
}
/* Estilos para la página de comunidades */
.comunidades-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
}
.comunidades-header {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0);
}
.recuadros-row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.recuadro {
    width: 200px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 10px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
