<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    </head>

        <body>
            
            <h1>Lista de usuarios</h1>
    

    
    





    <div class="card-body">
        <table class="table table-bordered">

        <thead>
        <tr>

        <th style="width: 10px">id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th style="width: 40px">Es admin?</th>

        </tr>
        </thead>

        <tbody>
            {% for objeto in listaUser %}   
            <tr>
                
                    <td>{{ objeto.id }}</td>
                    <td>{{ objeto.username }}</td>
                    <td>{{ objeto.email }}</td>
                    <td>{{ objeto.is_superuser }}</td>
                    
                        
                    
                
            </tr>
            {% endfor %}

        </tbody>
        </table>

        
        </div>
        <div class="col-lg-6">
            <a href="{% url 'crud:induser' %}" class="btn btn-info">Volver</a>

        </div>
        </body>
    
</html>