<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
        
    </head>


    <body>

        
        



        <div class="row">
            
            
            <div class="col-lg-6">

            <div class="card">
            <div class="card-header">
            <h5 class="card-title m-0">Creación</h5>
            </div>
            <div class="card-body">
            <h6 class="card-title">Crear un habitante</h6>
            <p class="card-text"></p>
            <a href="{% url 'crud:newhabit' %}" class="btn btn-primary">Acceder</a>
            </div>
            </div>

            <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title m-0">Visualización</h5>
            </div>
            <div class="card-body">
            <h6 class="card-title">Ver los habitantes registradas</h6>
            <p class="card-text"></p>
            <a href="{% url 'crud:listhabit' %}" class="btn btn-success">Acceder</a>
            </div>
            </div>

            
            </div>
            
            
            </div>
            <div class="col-lg-6">
                <a href="{% url 'crud:index' %}" class="btn btn-info">Volver</a>

            </div>
    </body>


</html>